@charset "utf-8";
#jooble {
	font-size: 24mm;
	color: #000;
	background-color: #9FF;
	text-align: left;
	margin: 20px;
	padding: 20px;
	height: 800px;
	width: 2000px;
	border: 10px solid #F00;
	font-weight: bold;
}
